<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sonata" class="ver4_2.Car">
<!-- 		setter 활용시 property -->
		<property name="tire" ref="chinaTire"/>
	</bean>
	
	<bean id="koreaTire" class="ver4_2.KoreaTire"></bean>
	<bean id="chinaTire" class="ver4_2.ChinaTire"/>
</beans>
