<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="sonata" class="ver3.Car"/>
	<bean id="koreaTire" class="ver3.KoreaTire"/>
	<bean id="chinaTire" class="ver3.ChinaTire"/>

</beans>
