<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sonata" class="ver4_1.Car">
	
<!-- 	value = 기초자료형 ref = 참조자료형 -->

		<constructor-arg ref="koreaTire"/>
		
		
	</bean>
	
	<bean id="koreaTire" class="ver4_1.KoreaTire"/>
	<bean id="chinaTire" class="ver4_1.ChinaTire"/>
</beans>
