<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
 
    <bean id="jaemin" class="ver5.Boy" />
    <bean id="yunmi" class="ver5.Girl" />
 
    <bean id="myAspect" class="ver5.MyAspect" />
 
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut
            expression="execution(String makeFood(**))"
                id="myTarget" />
            <aop:around method="my_around"
                    pointcut-ref="myTarget"/>
        </aop:aspect>
    </aop:config>
 
</beans>