<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id = "Taemin" class="ver2.Boy"/>
	<bean id = "Seoyee" class="ver2.Girl"/>
	
	<bean id = "myAspect" class="ver2.MyAspect"/>
	
	<aop:config>
		<aop:aspect ref="myAspect">
			<aop:pointcut expression="execution(void makeFood())" id="myTarget"/>
			<aop:before method="myBefore" pointcut-ref="myTarget"/>
			<aop:after method="myAfter" pointcut-ref="myTarget"/>
			<aop:after-returning method="myAfterReturning" pointcut-ref="myTarget"/>
			<aop:after-throwing method="myAfterThrowing" pointcut-ref="myTarget"/>
		</aop:aspect>
	</aop:config>
</beans>
